body {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2125&q=80");
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 80px;
  text-transform: uppercase;
}

form {
  background-color: rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  border: solid 2px black;
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.listFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  padding: 0;
}

.listFlex li {
  background-color: rgba(77, 77, 77, 0.726);
  width: 49%;
  border: solid 2px black;
  margin: 20px 0;
  list-style: none;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.score {
  font-weight: bold;
}

li p {
  padding: 0 20px;
}

textarea {
  padding: 0;
  margin: 0;
}

label, textarea, input, h2 {
  margin: 0 20px;
}

textarea, input {
  background-color: black;
  color: white;
  border: solid 3px rgb(136, 136, 145);
  margin-bottom: 15px;
}

input[type=number] {
  max-width: 100px;
  -moz-appearance: textfield;
}

h2 {
  margin-bottom: 20px;
}

form button {
  max-width: 160px;
  margin: 10px auto;
  font-size: 25px;
  border-radius: 30%;
  color: white;
  background-color: rgb(44, 43, 43);
  border: solid black;
  transition: background-color 0.5s ease;
}

form button:hover {
  background-color: rgb(101, 101, 121);
  cursor: pointer;
}

li div {
  display: flex;
  justify-content: space-between;
}

li button {
  margin: auto 25px auto 0;
  background-color: rgb(44, 43, 43);
  color: white;
  padding: 10px;
  border: solid 2px black;
  transition: background-color 0.5s ease;
}

li button:hover {
  background-color: crimson;
  cursor: pointer;
}

h1 {
  background-color: rgba(77, 77, 77, 0.726);
  border: solid 2px black;
  margin: 70px 0 40px 0;
}

/* about */
.about {
  display: inline-block;
  position: fixed;
  z-index: 1;
  width: 60%;
  right: 20%;
  top: -100vh;
  background: black;
  text-align: center;
  height: 100vh;
  transition: all 0.3s;
}

.about p {
  text-align: start;
  padding-left: 20px;
}

input[type=checkbox]:checked + .about {
  top: 0;
}

input[type=checkbox] {
  display: none;
}

nav label {
  background-color: black;
  padding: 20px;
  cursor: pointer;
  position: fixed;
  margin: 0;
  top: 0;
  right: 5%;
  font-weight: bold;
  border: solid 1px gold;
}

nav label:hover {
  background-color: rgb(126, 108, 7);
  transition: background-color 0.5s ease;
}

/* media queries */
@media (max-width: 790px) {
  .listFlex li {
    width: 100%;
  }
}

@media (max-width: 563px) {
  .wrapper {
    max-width: 95%;
  }

  nav label {
    right: 0;
    padding-right: 5px;
    padding-left: 5px;
  }

  .about {
    width: 80%;
    left: 0;
  }

  .about p {
    text-align: left;
  }
}

@media (max-width: 403px) {
  h1 {
    font-size: 60px;
  }
}